<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Family Recipes</title>
</head>
<body>
    <h1>Family Recipes</h1>
    <p>Save all your Family Recipes in one place!</p>
    <!-- <a href="/familyRec">Create a Family Recipes List</a> -->
    <a href="/login">Login</a> 
    <a href="/signup">Sign Up</a>
</body>
</html>