<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" 
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/d24920b36a.js" crossorigin="anonymous"></script>
    <title>Recipes</title>
</head>
<body>
    <h1>Family Recipes</h1>
    
    <section class="mainContainer">
        <section class="mainLeft">
             <%   for(let i = 0; i < recipes.length; i++){  %>
                    <section class="itemContainer" data-id="<%=recipes[i]._id %>">
                        <section class="innerContainer">
                            <h4>Name of Recipe:</h4> <span><%= recipes[i].name %></span> 
                            <section class="iconWrapper">
                                <section class="fa-solid fa-trash"></section>
                                <!-- <span class="fa-solid fa-pen-to-square"></span> -->
                            </section>
                        </section>
                        <section class="innerContainer">
                            <h4>Ingredients: </h4> <p><%= recipes[i].ingredients %></p>
                        </section>
                        <section class="innerContainer">
                            <h4>Instructions: </h4><p><%= recipes[i].instructions %></p>
                        </section>
                    </section>
               <% } %>
        </section>
        <section class="mainRight">
            <form action="familyRec/createRecipe" method="POST">
                <label for="dishName">Name of Recipe:</label>
                <input type="text" placeholder="Lasanga" name="recipeName">
                <label for="ingredients">Ingredients:</label>
                <textarea " name="ingred" rows="4" placeholder="Tomato sauce, pasta, cheese"  required></textarea>
                <!-- <input type="text" placeholder="Tomato sauce, pasta, cheese" name="ingred"> -->
                <label for="instructions">Instructions:</label>
                <textarea name="instruct" rows="6" placeholder="Heat up pasta, pour sauce and cheese. Finally Mix well and enjoy!" required></textarea>
                <!-- <input type="text" placeholder="Heat up pasta, pour sauce and cheese. Finally Mix well and enjoy!" name="instruct"> -->
                <input type="submit">
            </form>
        </section>
    </section>

    <script src="js/main.js"></script>
</body>
</html>