* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

body {
    text-align: center;
    background-color: #0E4C92;
    color: white;
    font-size: 25px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0E4C92;
    border-radius: 5px;
    border: 2px solid white;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
}

#submitButton {
    background-color: #2280ec;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.homeContainer,
.loginContainer {
    text-align: right;
}

#home,
#login {
    text-decoration: none;
    color: white;
}

#home:hover,
#login:hover {
    cursor: pointer;
    text-decoration: underline;
}