* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #0E4C92;
    color: white;
    font-size: 25px;
}

.itemContainer{
    border: 5px solid white;
    color: white;
    max-width: 500px;
    margin: 10px auto;
    border-radius: 25px;
    padding: 10px;
    overflow: auto;
}

h1,form{
    text-align: center;
}

.mainContainer{
    display: flex;
    align-items: center;
    margin: 20px, 0, 20px, 0;
}
.mainLeft, .mainRight{
    width: 50%;
}

.innerContainer{
    display: flex;
    align-items: center;
    overflow: auto;
}

h3,h4{
    padding-right: 20px;
}


/* Auto margins on flex items have an effect very similar to auto margins in block flow: During calculations of flex bases and flexible lengths,
auto margins are treated as 0. Prior to alignment via justify-content and align-self,
any positive free space is distributed to auto margins in that dimension. 
https: //stackoverflow.com/questions/33924655/position-last-flex-item-at-the-end-of-container*/
.iconWrapper{
    display: flex;
    margin-left: auto; 
}
.iconWrapper section{
    padding: 10px;
}
.iconWrapper section:hover{
    cursor: pointer;
}

/* Styling for the form*/
form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}
input[type="text"],
    textarea {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      resize: vertical;
    }
textarea {
      height: 120px;
    }

    input[type="submit"] {
      background-color: #0080FE;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 25px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #6693F5;
    }

